<configuration>
    <system.web>
        <compilation debug="true" />
        <customErrors mode="Off" />
    </system.web>
    <appSettings>
        <add key="MicroErp" value="Server=DESKTOP-QU6EOSA;initial Catalog=micro_erp;uid=sa;pwd=Nithish@2000;pooling=false"></add>
        <add key="spAddGrnLi" value="exec add_grn_line_items "></add>
    </appSettings>
    <system.webServer>
        <directoryBrowse enabled="false" />
        <defaultDocument>
            <files>
                <add value="LoginPage.aspx" />
            </files>
        </defaultDocument>
    </system.webServer>
</configuration>