.MainHome{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}
.Lookups,.Masters,.Transactions,.Logout{
    flex-basis: 200px;
    text-align: center;
    cursor: pointer;
    background-color: aqua;
    border-radius: 20px;
    font-size: 25px;
}

.Lookups:hover,.Masters:hover,.Transactions:hover,.Logout:hover{
    background-color: red;
    color: white;
}